body div {
  padding-left: 20%;
  padding-right: 20%;
}

#preview, #next {
  margin-left: 200px;
}

#boardView {
  margin-top: -140px;
}

td {
  color: white;
  border: 1px solid black;
}

#boardView #row-0 td, #boardView #row-1 td, #boardView #row-2 td, #boardView #row-3 td {
  display: none;
}

.full {
  color: black;
  background-color: black;
}

#hidden {
  display: none;
}

.active {
}

