body div {
  padding-left: 20%;
  padding-right: 20%;
}

td {
  border: 1px solid black;
}

#row-0 td, #row-1 td, #row-2 td, #row-3 td {
  border: 1px dashed black;
  display: none;
}


.full {
  background-color: black;
}
